<% include ../partials/header %>

<div class="container">
    <h1 id="newh1">Create a new Camp!!!</h1>
    <div class="row">
        
        <div class="myform">
            <form class="form-group" action="/campgrounds" method="POST">
                <input class="form-control form-group form-control-lg" type="text" name="name" placeholder="name">
                <input class="form-control form-group form-control-lg" name="image" placeholder="image url">
                <input class="form-control form-group form-control-lg" name="desc" placeholder="description">
                <button class="form-group btn btn-lg btn-dark">Submit</button>
            </form>
            <a class="btn btn-sm btn-dark" href="/campgrounds">Go back</a>
        </div>
       
    </div>
</div>


<% include ../partials/footer %>